/* styles.css */
body {
    font-family: 'Tenor Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita scroll horizontal */
}

header {
    width: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
    transition: top 0.3s, opacity 0.3s ease-in-out;
    opacity: 0; /* Oculta a barra de navegação inicialmente */
    pointer-events: none; /* Evita que o usuário interaja com a barra de navegação quando ela está oculta */
}

header.visible {
    opacity: 1; /* Mostra a barra de navegação quando visível */
    pointer-events: all; /* Permite a interação com a barra de navegação quando visível */
}

header.hidden {
    top: -100px; /* Altura da navbar */
    opacity: 0; /* Oculta a barra de navegação quando não visível */
    pointer-events: none; /* Evita que o usuário interaja com a barra de navegação quando ela está oculta */
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
    margin-left: 0; /* Ajusta o logo para a esquerda */
}

.navbar .navbar-collapse {
    justify-content: center;
}

main {
    padding-top: 56px; /* Altura da barra de navegação */
}

#home {
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-top: -56px; /* Corrige a posição do vídeo */
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.scroll-down img {
    width: 30px;
    height: 30px;
}

.scroll-down i {
    font-size: 35px;
    color: white;
}

h2 {
    font-size: 3em; /* Ajuste este valor conforme necessário */
}


/* ABOUT */
#about {
    background-color: #eaf2eb;
    padding: 80px 40px;

}
/* ABOUT (fim)*/


/* SERVIÇOS */

/* Background color for alternating rows in services section */
#services{
    margin-top: 2%;
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}

#services .row:nth-child(odd) {
    background-color: #eaf2eb;
    margin: 0 !important;
}

#services .row:nth-child(even) {
    background-color: #ffffff;
    margin: 0 !important;
}

#services .row:nth-child(odd) .alinha-texto {
    padding-left: 14rem; /* Espaçamento à esquerda para linhas ímpares */
    padding-right: 4rem;  /* Espaçamento à direita para linhas ímpares */
    text-align: justify;
}

#services .row:nth-child(even) .alinha-texto {
    padding-left: 4rem;  /* Espaçamento à esquerda para linhas pares */
    padding-right: 14rem; /* Espaçamento à direita para linhas pares */
    text-align: justify;
}

.alinha-texto h3 {
    margin-bottom: 1rem; /* Adiciona margem inferior ao título */
}

.alinha-texto p {
    margin-top: 1rem; /* Adiciona margem superior ao parágrafo */
}


/* Padding adjustments for images in service text */
#services .row:nth-child(odd) .col-md-6 img {
    padding-left: 4rem;
    padding-right: 14rem;
}

#services .row:nth-child(even) .col-md-6 img {
    padding-left: 14rem;
    padding-right: 4rem;
}

/* Ensure full width for sections */
#services .row {
    width: 100%;
    margin: 0  !important;
}

/* Custom button color */
.btn-custom {
    background-color: #3d4435;
    color: #ffffff;
    border: none;
}

.btn-custom:hover {
    background-color: #2e3329;
    color: #ffffff;
}

/* Animação de deslize da esquerda para o centro */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animação de deslize da direita para o centro */
@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Aplicar a animação quando o elemento está visível */
.service-animate {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    will-change: opacity, transform;
}

.service-animate.in-view-left {
    opacity: 1;
    animation: slideInLeft 1s ease-out;
}

.service-animate.in-view-right {
    opacity: 1;
    animation: slideInRight 1s ease-out;
}

/* SERVIÇOS (fim) */


/* WHY CHOOSE US */
#why-choose-us {
    margin-bottom: 3%; /* Aumenta a distância entre o fim da seção e a próxima */
}
#why-choose-us .feature {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

#why-choose-us .feature:hover {
    transform: translateY(-10px);
}

#why-choose-us .feature .icon {
    width: 64px;
    fill: #3d4435; /* Aplica a cor de referência aos ícones SVG */
}

#why-choose-us h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

#why-choose-us p {
    color: #666;
    flex-grow: 1;
}

#why-choose-us .row {
    display: flex;
    flex-wrap: wrap;
}

#why-choose-us h2 {
    margin-bottom: 5%; 
}
/* WHY CHOOSE US  (fim)*/

/* CONTACT */
#contact {
    background-color: #eaf2eb;
    margin-bottom: 0; 
    padding-bottom: 0; 
}

#contact h2 {
    padding-top: 7%;
    margin-bottom: 2rem; /* Ajusta o espaçamento inferior do título */
}

#contact .row.align-items-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem; /* Ajusta o espaçamento na parte inferior da primeira linha */
}

#contact .contact-detail {
    font-size: 1rem; /* Ajusta o tamanho da fonte para um valor menor */
    margin: 0.5rem 0; /* Adiciona margem superior e inferior */
}

#contact .logo-grande {
    height: 300px; /* Define o tamanho do logo */
}

#contact .col-md-4 h3 {
    margin-bottom: 1rem;
}

#contact .col-md-4 p {
    margin-bottom: 1.5rem;
}

/* Ajustes para margens laterais pequenas */
#contact .row > [class*='col-'] {
    padding-left: 5px; /* Margem lateral esquerda pequena */
    padding-right: 5px; /* Margem lateral direita pequena */
}

/* Removido padding das colunas anteriores */
#contact .col-md-7 {
    padding-right: 0;
}

#contact .col-md-5 {
    padding-left: 0;
}

gmp-map {
    height: 400px;
    width: 100%;
}

#map {
    padding-top: 10%;
}

/* CONTACT (fim) */

/* FOOTER  */
footer {
    margin-top: 0; /* Remove a margem superior do rodapé */
    background-color: #3d4435; 
    color: #fff; /* Cor do texto do rodapé */
}

footer h5 {
    font-weight: bold; /* Torna o texto do h5 em negrito */
    font-size: 18px; /* Ajusta o tamanho da fonte do h5 */
    margin-bottom: 4%; /* Espaçamento inferior do h5 */
    margin-top: 10%;
}

footer p {
    margin-top: 5px; /* Reduz o espaçamento superior */
    margin-bottom: 10px; /* Espaçamento inferior do parágrafo */
}

footer ul {
    padding-left: 0; /* Remove padding à esquerda da lista */
    list-style: none; /* Remove o estilo de lista */
}

footer ul li {
    margin-bottom: 10px; /* Espaçamento inferior dos itens da lista */
}

footer ul li a {
    color: #fff; /* Cor do texto dos links */
    text-decoration: none; /* Remove sublinhado dos links */
    transition: color 0.3s ease; /* Transição suave para mudança de cor */
}

footer ul li a:hover {
    color: #adb5bd; /* Cor dos links ao passar o mouse */
}

footer .fas {
    margin-right: 10px; /* Espaçamento à direita dos ícones */
}

@media (max-width: 767.98px) {
    footer .text-left {
        text-align: center !important; /* Centraliza o texto no rodapé em dispositivos móveis */
    }
}

/* FOOTER (Fim) */
